*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100vw;
    background-color:#E0DBD1;
    font-family: 'Gloock', serif;
    font-family: 'Indie Flower', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Slabo 27px', serif;
    
}
.container{
    height:380px;
    width:250px;
    background-color:#28282B ;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding:15px;
    gap:20px;
    
}
.screen{
    width:100%;
    background-color: #E0E0E0;
    flex:2;
    border-radius: 5px;
    overflow: hidden;
    
}
.keys{
    flex:5;
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    padding: 10px;
   
}
.keys .key{
    background-color: #E0E0E0;
    border-radius:5px ;
    width: 45px;
    flex:auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-family: 'Gloock', serif;
    font-family: 'Indie Flower', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Slabo 27px', serif;
    border: 0;
    
}

.screen{
    display: flex;
    flex-direction: column;
    padding:15px

}
.main{
    flex:2;
    font-size: 1.2em;
}
.equals {
    flex:1;
    font-size: 16px;
}